<h1>クイズ</h1>


<%= @quiz.question %>
<%= form_tag("/quizzes/#{@quiz.id}/check_answer", method: :post) do %>
  <% @options.each do |option| %> 
    <%= radio_button_tag 'selected_answer', option %> 
    <%= option %><br>
  <% end %>
 <%= submit_tag '答えを送信' %>
<% end %>

