<h1> クイズ </h1>

<body>
  <div class="shwo_main">
    
    <div class="quizzwa_show">
    <div class="quiz_question"><%= @quiz.question %></div>
      <%= form_tag("/quizzes/#{@quiz.id}/check_answer", method: :post) do %>
        <% @options.each do |option| %> 
          <div class="option">
            <%= radio_button_tag 'selected_answer', option %> 
            <%= option %><br>
          </div>
        <% end %>
        <div class="answer"><%= submit_tag '答えを送信' %></div>
      <% end %>
    </div>
        <!-- fom_ウィズ -->
      
    

    <!-- ランキング -->
    <% if @quiz_result.present? %>
    <div class="quiz-result-container">
        <% @quiz_result.each_with_index do |result, index| %>
          <p>
            <span class="index_xxx">順位 <%= index + 1%></span>
            <span class="username"><%= result.user.name %> </span>
            <span class="time-spent">tame:<%= Time.at(result.time_spent.to_i).utc.strftime("%H:%M:%S") %></span>
          </p>
        <% end %>
      <%end%>
    </div>
    
     








  </div>
</body>

