<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>





  <body>
    <div class="header">
    <div class="header-logo">Quiz掲示板</div>
      <div class="header_login">
        <%= button_to("ログイン", "/login", {method: "get"})%>
        <%= button_to("ログアウト", "/logout", {method: "post"})%> 
      </div>
      <div class="header_link">
          <% if session[:user_id] %>    
            <div class="user_name"><%= session[:user_id] %></div>
            <li><%= link_to("トップページ","/")%></li>
            <li><%= link_to("新規投稿作成", "/quizzes/new")%></li>
            <li><%= link_to("ユーザー一覧", "/user/index")%></li>
            <li><%= link_to("投稿","/quizzes/index")%></li>
          <%else%>
            <li><%= link_to("新規ユーザ", "/user/new")%></li>
            <li><%= link_to("トップページ","/")%></li>
            <li><%= link_to("投稿","/quizzes/index")%></li>
          <%end%>
        </ul>
      </div>
    </div>
    
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <%= yield %>
    
    




    

    
   
  </body>
</html>
