<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tweet" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if session[:user_id] %>
  <li>
    <%= session[:user_id] %>
  </li>
  <%= button_to("ログアウト", "/logout", {method: "post"}) %> 
  

<% end %>

    
    <%= link_to("new", "/quizzes/new")%>
    <%= link_to("index", "/quizzes/index")%>
    <%= link_to("login", "/login")%>
    <%= yield %>

    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
  </body>
</html>
